@import "tailwindcss";

.hero{
    height: 50vh;
    background-image: url("../public/assets/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    height: 100%;
    gap: 15px;
}

.bold_title{
    font-weight: 800;
    font-size: 40px;
    width: 60vw;
    text-align: center;
}

.small_title{
    font-size: 22px;
}

@media only screen and (max-width: 900px) {
    .bold_title{
        font-size: 29px;
    }
}
.schedule-link {
  color: #c1121f; /* professional red */
  font-weight: 600;
  text-decoration: underline;
}

.schedule-link:hover {
  color: #7f1d1d; /* darker red on hover */
}
