.card1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.name1{
    font-size: 18px;
    font-weight: 600;
}

.details1{
    font-size: 16px;
    color: #091B8F;
    text-align: center;
}


